* {
  margin: 0;
  padding: 0;
  background-color: #171717;
}

@font-face {
  font-family: 'Schweiz';
  src: url('../src/assets/fonts/Schweiz.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}